ul#nav {
    margin: 0; padding: 0.8em;
    text-align: center;
    border: 1px solid black;
    background-color: silver;
  }
ul#nav li {
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
  }

ul#nav a, ul#nav span {
    padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: maroon; background-color: #ccc;
  }
* html ul#nav a, * html ul#nav span {
    width: 1em;    /* nur fuer IE 5.0x erforderlich */
    w/idth: auto;  /* sicherheitshalber fuer IE 6 zurueckgesetzt */
  }
ul#nav a:hover, ul#nav span {
    border-color: white;
    border-left-color: black; border-top-color: black;
    color: white; background-color: gray;
  }